<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @koko_test_aja.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @koko_test_aja.age %>
</p>

<%= link_to 'Edit', edit_koko_test_aja_path(@koko_test_aja) %> |
<%= link_to 'Back', koko_test_ajas_path %>
