<p id="notice"><%= notice %></p>

<h1>Quiz 2 KAY</h1>

<table>


<!--

  <thead>
    <tr>
      <th>user_id</th>
      <th>question_id</th>      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_sets.each do |qs| %>
      <tr>
        <td><%= qs.user_id %></td>
        <td><%= qs.question_id %></td>
        <td><%= qs.description %></td>
        <td><%= qs.optionA %></td>
        <td><%= qs.optionB %></td>
        <td><%= qs.optionC %></td>
        <td><%= qs.optionD %></td>
      </tr>
    <% end %>
  </tbody>
</table>
-->
<!-- ------------------------------- -->


<table>
  <% @question_sets.each do |qs| %>
    <tr>
      <td>Pertanyaan : </td>
      <td colspan="4"><%= qs.description %></td>
    </tr>

    <tr>
      <td>Jawaban : </td>
      <td><%= qs.optionA %></td>
      <td><%= qs.optionB %></td>
      <td><%= qs.optionC %></td>
      <td><%= qs.optionD %></td>
    </tr>

    <tr>
      <td colspan="5">&nbsp;</td>
    </tr>

  <% end %>
</table>

<br>